---
layout: default
---
<div class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <!-- Awards Given -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <h2>🏆Award🏆</h2>
        <br>
        <h2><b>Best User-Centered Design</b></h2>
        <h3><a href="#dreamteam">Dream Team</a></h3>
        <p><i>Muhammad Faizan Zahid, Muhammad Khubaib Alam Afridi, Erkinov Sardor</i></p>
        <p></p>
      </div>
    </div>
    
    
    <!-- CSG-25 -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GFmnfqHTAu4?si=MaWechzLgvf4YjEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>CSG-25</b></h2>
        <h3>Joowon Kim, Pham Nhu Bach, Enrique Jose Delgado Garcia</h3>
        <p><b>Supporting convenience store managers organize inventory</b></p>
        <a href="https://docs.google.com/presentation/d/17VcOTzLCf09JPm6BsQpAit2afEBmcv0AHMygh_PS8EE/edit?slide=id.g3602a9fe9bd_0_0#slide=id.g3602a9fe9bd_0_0">Slide</a>
      </div>
    </div>

    <!-- Dream Team -->
    <div class="gallerycard" id="dreamteam">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uxpyWChx8qM?si=DvHLmO7OInmKasgW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Dream Team</b></h2>
        <h3>Muhammad Faizan Zahid, Muhammad Khubaib Alam Afridi, Erkinov Sardor</h3>
        <p><b>Supporting Pakistani truck drivers against fatigue in extreme conditions</b></p>
        <a href="https://docs.google.com/presentation/d/17VcOTzLCf09JPm6BsQpAit2afEBmcv0AHMygh_PS8EE/edit?slide=id.g3602a9fe9bd_0_68#slide=id.g3602a9fe9bd_0_68">Slide</a>
      </div>
    </div>

    <!-- Heuristic -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_U4jInOuhCo?si=frqXdZFqPJ5oYItx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Heuristic</b></h2>
        <h3>Jihoon Kang, Taehyun Jang, Sooyoung Heo</h3>
        <p><b>Supporting on-site journalists quickly record and organize interviews</b></p>
        <a href="https://docs.google.com/presentation/d/17VcOTzLCf09JPm6BsQpAit2afEBmcv0AHMygh_PS8EE/edit?slide=id.g3602a9fe9bd_0_156#slide=id.g3602a9fe9bd_0_156">Slide</a>
      </div>
    </div>

    <!-- Mr. Bean -->
    <div class="gallerycard">
      <div class="cardcontainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D7j3cw3T58o?si=94l2DOmUyQfZ_v78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="cardcontainer">
        <h2><b>Mr. Bean</b></h2>
        <h3>Sungwon Cho, Jieun Han, Haeri Lee, Geonwoo Han</h3>
        <p><b>Supporting cafe owners choose the best coffee beans</b></p>
        <a href="https://docs.google.com/presentation/d/17VcOTzLCf09JPm6BsQpAit2afEBmcv0AHMygh_PS8EE/edit?slide=id.g3602a9fe9bd_0_242#slide=id.g3602a9fe9bd_0_242">Slide</a>
      </div>
    </div>
</div>