---
layout: page
---

<article class="post-content">
      <h2>What do we do?</h2>
            <p>CS374 has a short, team-based "Mini-Project" in the beginning of the semester as well as a longer team-based design project, in which you'll work through the full user-centered design process from needfinding up through a high-fidelity prototype and user testing.  
                  You'll work in teams of <strong>three to four</strong> people. More information about each milestone will be added to this page as the assignments are released.
            <ul>
                  <li><a href= "/projects/01_miniproject">Mini-Project</a> (due week 4)</li>
                  <!-- <li><a href= "/projects/00_DPM0">Team Formation</a> (week 2): 0%</li>
                  <li><a href= "/projects/01_DPM1">Ideation</a> (week 4): 20%</li>
                  <li><a href= "/projects/02_DPM2">Pitch</a> (week 6): 15%</li>
                  <li><a href= "/projects/03_DPM3">Low-fi Prototype</a> (week 7): 15%</li>
                  <li><a href= "/projects/04_DPM4">High-fi Prototype</a> (week 12): 15%</li>
                  <li><a href= "/projects/05_DPM5">Showcase and Final Report</a> (week 15): 35%</li>
                  -->
            </ul>
                
            Please note that all team members will receive the same grade for all the milestones, unless there are contribution issues identified. 
            </p>

      <!--
      <h2>Examples</h2>
            <p>Here are the project gallery pages from the previous years:
            <ul>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2018/projects/index.html">2018</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2019/projects/index.html">2019</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2020/projects/index.html">2020</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2021/projects/index.html">2021</a>
                  </li>
                  <li>
                    <a href="https://social.kixlab.org/projects/">2023</a>    
                  </li>
            </ul>
            </p>

      -->

      <h2>Late Policy</h2>
            <p>For each milestone deadline, all members of your team will lose 10% for each late day. Submissions will be accepted until three days after the deadline. After then you'll get 0 on that assignment. Please note that late submissions for final presentations are not allowed.</p>
</article>
<ul id="archive">
<!-- Uncomment below to display the projects -->
<!-- {% for prj in site.projects %}
      <li class="archiveposturl" style="background: transparent">
        <span><a href="{{ prj.url | prepend: site.baseurl}}">{{ prj.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right"></strong> 
      </li>
{% endfor %} -->
<br>
<br>
</ul>
