---
layout: page
---



      <!--
      <h2>Examples</h2>
            <p>Here are the project gallery pages from the previous years:
            <ul>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2018/projects/index.html">2018</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2019/projects/index.html">2019</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2020/projects/index.html">2020</a>
                  </li>
                  <li>
                    <a href="https://kixlab.org/courses/cs473-fall-2021/projects/index.html">2021</a>
                  </li>
                  <li>
                    <a href="https://social.kixlab.org/projects/">2023</a>    
                  </li>
            </ul>
            </p>

      -->

<ul id="archive">
{% for prj in site.projects if page.published == true %}
      <li class="archiveposturl" style="background: transparent">
        <span><a href="{{ prj.url | prepend: site.baseurl}}">{{ prj.title }}</a></span>
<strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right"></strong> 
      </li>
{% endfor %}
<br>
<br>
</ul>

<h2>Late Policy</h2>
      <p>For each milestone deadline, all members of your team will lose 10% for each late day. Submissions will be accepted until three days after the deadline. After then you'll get 0 on that assignment. Please note that late submissions for final presentations are not allowed.
      
            Please note that all team members will receive the same grade for all the milestones, unless there are contribution issues identified. 
      </p>
